body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #8babf1;
}
